body
{
	background-color: #D6D4A0;
}

h1
{
	font-size: 50;
	position: absolute;
	top: -125;
	right: -50; 
	left: -40;
	color: #DB995A;
}

#cred
{
	position: relative;
	top: 20;
}

#logFrame
{
	float: left;
	border-style: dashed;
	position: fixed;
	bottom: 50%;
	left: 40%;
	padding: 10;
	padding-bottom: 50;
}

#button
{
	float: left;
	border-style: outset;
	border-color: black;
	position: relative;
	top: 35;
	left: 38%;
	background-color: #DB995A;
	padding: 3;
	user-select: none;
	
}

#button:hover
{
	background-color: #D6D4A0;
	cursor: pointer;
}

#button:active
{
	background-color: #DB995A;
}

a:link
{
	color:black;
}

a:visited
{
	color: black;
}

#user
{
	position: absolute;
	bottom: 93;
	left: 90;
	width: 150;
	height: 20;
}

#pass
{
	position: absolute;
	left: 90;
	width: 150;
	height: 20;
}

