body
{
	background-color: #D6D4A0;
}

h1
{
	font-size: 50;
	color: #DB995A;
	text-align: center;
	position: relative;
	bottom: 10;
}

h2
{
	font-size: 20;
	color: #E24E1B;
	position: relative;
	top: 5;
}

div
{
	color: #654236;
	background-color: #DB995A;
	position: absolute;
	left: 15;
	top: 50;
	font-size: 15;
	border-style: outset;
	padding: 10;
	padding-top: 5;
	padding-bottom: 5;
	user-select: none;
}

div:hover
{
	background-color: #D6D4A0;
	cursor: pointer;
}

div:active
{
	background-color: #DB995A;
}

table
{
	width: 100%;
	border-spacing: 5;
}

td
{
	color: #654236;
	background-color: #DB995A;
	font-size: 25;
	border-style: outset;
	padding: 10;
	padding-top: 5;
	padding-bottom: 5;
	user-select: none;
	width: 100;
	text-align: center;
}

a
{
	display: block;
}

a:link
{
	color: #654236;
	text-decoration: none;
}

a:visited
{
	color: #654236;
	text-decoration: none;
}

td:hover
{
	background-color: #D6D4A0;
	cursor: pointer;
}

td:active
{
	background-color: #DB995A;
}

iframe
{
	width: 100%;
	height: 100%;
}













