body
{
	background-color: #D6D4A0;
}

#titleHead
{
	font-size: 50;
	color: #DB995A;
	text-align: center;
	position: relative;
	bottom: 10;
	user-select: none;
}

#titleHead:hover
{
	color: #654236;
	cursor: pointer;
}


h2
{
	font-size: 20;
	color: #E24E1B;
	position: relative;
	top: 5;
	left: 10;
}
#log
{
	color: #654236;
	background-color: #DB995A;
	position: absolute;
	left: 15;
	top: 50;
	font-size: 15;
	border-style: outset;
	padding: 10;
	padding-top: 5;
	padding-bottom: 5;
	user-select: none;
	border-radius: 25px;
}

#log:hover
{
	background-color: #D6D4A0;
	cursor: pointer;
}

#log:active
{
	background-color: #DB995A;
}

table
{
	width: 100%;
	border-spacing: 5;
}

a
{
	display: block;
}

a:link
{
	color: #654236;
	text-decoration: none;
}

a:visited
{
	color: #654236;
	text-decoration: none;
}

.nav
{
	color: #654236;
	background-color: #DB995A;
	font-size: 25;
	border-style: outset;
	padding: 10;
	padding-top: 5;
	padding-bottom: 5;
	user-select: none;
	text-align: center;
	border-radius: 25px;
}

.nav:hover
{
	background-color: #D6D4A0;
	cursor: pointer;
}

.nav:active
{
	background-color: #DB995A;
}

iframe
{
	width: 100%;
	height: 75%;
	border: none;
}













