#main
{
    width: 100%;
    border-collapse: collapse;
	color: black;
}
tr
{
    height: 50;
}
tr:nth-child(odd)
{
    background-color: #DB995A;
}
tr:nth-child(odd):hover
{
    background-color: #F5A65B;
}
tr:nth-child(even):hover
{
    background-color: #C1CC99;
}
th
{
    height: 50;
    font-size: 2em;
    color: #654236;
}
td
{
    text-align: center;
    width: 33%;
}

img
{
    width: 350;
    transform: rotate(90deg);
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50;
}