#main
{
    width: 100%;
    border-collapse: collapse;
	color: #black;
}
tr
{
    height: 50;
}
tr:nth-child(odd)
{
    background-color: #DB995A;
}
tr:nth-child(odd):hover
{
    background-color: #F5A65B;
}
tr:nth-child(even):hover
{
    background-color: #C1CC99;
}
th
{
    height: 50;
    font-size: 25;
    color: #654236;
}
td
{
    text-align: center;
    width: 33%;
}

.sub
{

}

.subtr
{
	
}

.subtd
{
	background-color: #D6D4A0;
}
